.chatbot-box {
    width: 80%;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.chat-title {
    font-size: 3rem;
    font-weight: bold;
    /* color: #ffffff; */
}

.chat-subtitle {
    font-size: 1rem;
    /* color: #666; */
    margin-bottom: 0.5rem;
}

.chat-response {
    min-height: 100px;
    background-color: #000000;
    border-radius: 8px;
    white-space: pre-wrap;
    font-size: 1rem;
    position: relative;
    text-align: left;
}

.chat-history {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    text-align: left;
    border: 1px solid #52525275;
    border-radius: 8px;
}

.chat-message-wrapper.user,
.chat-message-wrapper.assistant {
    display: flex;
    justify-content: flex-start;
}

.chat-message-bubble {
    max-width: 80%;
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.4;
    word-wrap: break-word;
    background-color: #ecc9c9;
}

.chat-message-bubble.user {
    background-color: #001d35;
}

.chat-message-bubble.assistant {
    background-color: #000930;
    font-style: italic;
}


.chat-input-group {
    display: flex;
    gap: 0.5rem;
}

.chat-input-group input {
    flex: 1;
    padding: 0.75rem;
    /* border: 1px solid #ccc; */
    border-radius: 6px;
    font-size: 2rem;
}

.chat-input-group input:focus {
    outline: none;
    border-color: #0077cc;
}

.chat-input-group button {
    padding: 0.75rem 1.2rem;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.chat-input-group button:hover {
    background-color: #005fa3;
    transform: scale(1.1);
}

.chat-input-group button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
    transform: none;
}

.send-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}

.send-button:hover::after {
    transform: scaleX(1.5);
    transform-origin: bottom left;
}

/* Dots loader */
.dots-loader {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-top: 1rem;
}

.dots-loader span {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #525dec;
    border-radius: 50%;
    animation: bounce 1.2s infinite ease-in-out;
}

.dots-loader span:nth-child(2) {
    animation-delay: 0.2s;
}

.dots-loader span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}